{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<title>foodApp: Profile</title>
<script>
    function goBack() {
      window.history.back();
    }
</script>
<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a onclick="goBack()">Back</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile Details</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{request.user.customer.profile_image.url}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{customer.name}}</h4>
                      <p class="text-secondary mb-1">{{customer.phone}}</p>
                      <p class="text-muted font-size-sm">{{customer.email}}</p>
                      <a class="btn btn-primary" href="{% url 'editProfile' %}">Update</a>
                      <button class="btn btn-outline-primary">Change Password</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{customer.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{customer.gender}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{customer.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{customer.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date Created</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{customer.date_created}}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Total Order</i>:<h1>{{total_orders}}</h1></h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3"> 
                  <div class="card h-100">
                    <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Total Spending</i>:<h1>฿</h6>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>
{% endblock content %}